fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

# Database & Authentication
SQLAlchemy>=2.0
alembic
psycopg2-binary
pgvector
python-jose[cryptography]
passlib[bcrypt]

# AI & NLP Pipeline
PyMuPDF
python-docx
spacy>=3.7
sentence-transformers
scikit-learn
chromadb


# AI & NLP / CV Parsing
PyMuPDF
python-docx
spacy
sentence-transformers
scikit-learn