fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

# Database & Authentication
SQLAlchemy>=2.0
alembic
psycopg2-binary
pgvector
python-jose[cryptography]
passlib[bcrypt]

# Parsing Modern
docling>=2.92.0
pymupdf4llm>=0.0.17
PyMuPDF

# AI, LLM & Embeddings
chromadb
FlagEmbedding>=1.4.0
numpy>=2.0.0
instructor>=1.15.0
openai
google-generativeai
tenacity>=8.2.0
